.hero {
    height: calc(100vh-100px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(10, 9, 9);
    padding: 0 30px;
}
.title{
    font-style: 44px;
    font-weight: bold;
    color: black;
}
.desc{
    font-style: 21px;
}
.services{
    padding: 5px;
    margin-top: 15px;
    color: #555;
    
}

.serviceItem{
    display: flex;
    align-items: center;
    font-style: 21px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

@media (max-width:780px) {
    .hero {
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;

    }

    .heroLeft {
        background-color: rgb(239, 232, 232);
        margin: 20px 0;
        border-radius: 20px;
        width: 100%;
        padding: 15px;
    }
}